body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}

.password-form-container {
    text-align: center;
    background-color: #fff; 
    padding: 19px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 20px;
}

.input-field {
    width: calc(100% - 19px);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.action-buttons {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 9px; 
}

.action-button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 11px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 0px; 
    cursor: pointer;
    border-radius: 20px; 
    transition-duration: 0.4s; 
    width: 80%;
}

.action-button:hover {
    background-color: #45a048; 
}