body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;

}

.profile-picture {
    background-color: #d9d9d9; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    line-height: 150px;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.profile-actions {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
}

.profile-actions button {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 0px; 
    cursor: pointer;
    border-radius: 20px; 
    transition-duration: 0.4s; 
    width: 80%;
}

.profile-actions button:hover {
    background-color: #45a049; 
    color: white;
}
