<!DOCTYPE html>
<html>
<head>
    <title>Assessment</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<body>
    <div class="container">
        {% include 'nav_bar.html' %}
        <h1>Assessment</h1>
        <h2>How Are You Feeling?</h2>
        <form method="POST" action="{{ url_for('show_assessment') }}">
            <input type="text" id="main-emotion" name="main-emotion" placeholder="Main Emotion"/>
            <input type="text" id="sub-emotion" name="sub-emotion" placeholder="Sub Emotion"/>
            <br />
            <textarea type="text" id="post-activity" name="post-activity" placeholder="What Did You Do After?"></textarea>
            <br />
            <input type="submit" value="Save" />
        </form>
    </div>
</body>
</html>
