<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <script defer src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
{% include 'nav_bar.html' %}
<body>
    <header>
        <h1>Welcome to MoodMap</h1>
        <p class="description">MoodMap aims to create emotional awareness through a comprehensive tracker that 
            categorizes emotions into detailed subcategories, enabling users to monitor trends and foster personal growth on a daily and weekly basis.</p>
        <h2>Try it out below!</h2>
        <div id="account-actions">
            {% if logged_in == False %}
                <p>Already have an account?</p>
                <a href="/sign_in" class="action-btn">Sign In</a>
            {% endif %}
        </div>

    </header>
    <div id="emotion-container">
        <div id="main-emotions">
            <button class="emotion-btn" data-emotion="Angry">Angry</button>
            <button class="emotion-btn" data-emotion="Sad">Sad</button>
            <button class="emotion-btn" data-emotion="Anxious">Anxious</button>
            <button class="emotion-btn" data-emotion="Hurt">Hurt</button>
            <button class="emotion-btn" data-emotion="Embarrassed">Embarrassed</button>
            <button class="emotion-btn" data-emotion="Happy">Happy</button>
        </div>
        <div id="sub-emotions" style="display:none;"></div>
        <button id="submit-btn" style="display:none;">Submit</button>
    </div>

</body>
</html>


